/* Reset CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Container */
.container {
    min-height: 100vh; /* Set minimum height to viewport height */
    display: flex;
    flex-direction: column;
}

/* Header */
header {
    background-color: #333;
    color: #fff;
    padding: 1rem 0;
    box-shadow: 1px 2px 10px #000;
    text-align: center;
}

/* Cart table */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
}

thead {
    background-color: #333;
    color: #fff;
}

th, td {
    padding: 0.5rem;
    border-bottom: 1px solid #ccc;
    text-align: left;
}

/* Cart total */
.cart-total {
    margin-top: auto; /* Push the paragraph to the bottom */
    font-size: 1.2rem;
    font-weight: bold;
    text-align: right;
    padding: 1rem;
}

/* Footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 2rem 0;
}
